@font-face {
  font-family: "Zorque";
  src: url(fonts/zorque.ttf);
}

.zorque-font {
  font-family: "Zorque";
  font-weight: normal;
  font-style: normal;

  background: -webkit-linear-gradient(red, black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 30px;
}
