* {
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}
h2 {
  opacity: 0.5;
}

.level {
  position: absolute;
  left: 50%;
  top: 0%;

  transform-style: preserve-3d;
}

.floor {
  $floorSize: 100;

  width: 300px;
  height: 300px;
  position: absolute;
  transform: rotateX(90deg) scale3d($floorSize, $floorSize, $floorSize)
    translateZ(-3.5px);

  background-size: 200px;
  background-repeat: repeat;
  background-image: url(img/grass.jpg);

  transform-style: preserve-3d;

  image-rendering: auto;
}
