body {
  overflow: hidden;
  background: url(img/background.jpg);
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}
h2 {
  opacity: 0.5;
}

$cameraW: 1300px;
$cameraH: 700px;
$size: 1;
#camera {
  width: $cameraW * $size;
  height: $cameraH * $size;
  cursor: none;
  // margin: auto;
  // margin-top: 8vh;
  position: relative;
  overflow: hidden;
  background: url(img/skybox.jpg) 0 -5px;
  background-size: 60%;

  perspective: 800px;
}

.level {
  position: absolute;
  left: 50%;
  top: 0%;

  transform-style: preserve-3d;
}

.object {
  position: absolute;
  height: 400px;
  width: 4000px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(img/wall.jpg);
  transform: rotateY(90deg) translate3d(0, 100px, 0);

  transform-style: preserve-3d;
}
.glass {
  @extend .object;
  height: 400px;
  width: 1200px;
  transform: rotateY(180deg);
  background: url(img/glass.png);
  background-size: cover;

  transform-style: preserve-3d;
}

.floor {
  $floorSize: 100;

  width: 300px;
  height: 300px;
  position: absolute;
  transform: rotateX(90deg) scale3d($floorSize, $floorSize, $floorSize)
    translateZ(-3.5px);

  background-size: 10px;
  background-repeat: repeat;
  background-image: url(img/grass.jpg);

  transform-style: preserve-3d;
}
//////////
