@import "level";

.sprite {
	position: absolute;
	&.item {
    height: 150px;
    width: 250px;
		&.shotgun {
			background: url(img/items/shotgun.png);
			background-size: cover;
		}
		&.medkit {
			background: url(img/items/medkit.png);
			background-size: cover;
		}
  }
  &.enemy {
    &.guard {
      height: 300px;
      width: 150px;
      background: url(img/enemy/guard.png) left center;
      background-size: 4000px;
      background-position-x: -80px;
    }
  }
}


.testWeapon{
	position: fixed;
	bottom: 0;
	right: 200px;
	height: 2*128px;
	width: 2*320px;
	z-index: 5;
	
}
///////

	