*{
	margin: 0;
	padding: 0;
	 webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
	 

}
h2{
	opacity: 0.5;
}

#camera{
	position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: #222;
    -webkit-perspective: 700px;
    -moz-perspective: 700px;
    -ms-perspective: 700px;
    perspective: 800px;
    
    background: url(http://1-background.com/images/clouds/sea-of-clouds-seamless-repeating-tile.jpg);
   // background-position: -500px -500px;
    background-size: 50%;
}


.level{
   position: absolute;
    left: 50%;
    top: 0%;
}

.object{
	position: absolute;
	//top: 300px;
	height: 400px;
	width: 4000px;
	background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.8)), url(https://media.freestocktextures.com/cache/e9/52/e952eced5348711e8a305c740399abef.jpg);
	transform: rotateY(90deg) ;
	
}
.glass{
	@extend .object;
	height: 400px;
	width: 1200px;
	transform: rotateY(180deg); 
	background: url(http://pluspng.com/img-png/transparent-glass-png-glass-png-1500.png);
	background-size: cover;
}

$floorSize: 100;
.floor{
	width: 10000px;
	height: 10000px;
	top: 500px;
	position: absolute;
	background-color: blue;
	//background-image: url(https://i.pinimg.com/originals/85/c0/50/85c050d708a7052f4ff3f4bbbfcf56a0.jpg);
	transform: rotateX(90deg) scale3d($floorSize,$floorSize,1);
}

//linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) 


.testWeapon{
	position: fixed;
	bottom: 0;
	right: 200px;
	height: 2*128px;
	width: 2*320px;
	z-index: 5;
	
}