@import "_plane.scss";

body{
	overflow: hidden;
	background: url(img/background.jpg);
	background-size: cover;
}

*{
	margin: 0;
	padding: 0;
	webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
h2{
	opacity: 0.5;
}

$cameraW: 1300px;
$cameraH: 700px;
$size: 1;
#camera{
	width: $cameraW*$size;
    height: $cameraH*$size;
    cursor: none;
	margin:  auto;
	position: relative;
    overflow: hidden;
  	background: url(img/skybox.jpg) 0 -5px;
    background-size: 60%;
    
    -webkit-perspective: 700px;
    -moz-perspective: 700px;
    -ms-perspective: 700px;
    perspective: 800px;
    
    
    @media(min-device-width: 1400px){
   	 	margin: 200px auto;
   	}
}


.level{
   position: absolute;
    left: 50%;
    top: 0%;
}

.object{
	position: absolute;
	//top: 300px;
	height: 400px;
	width: 4000px;
	background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.8)), url(img/wall.jpg);
	transform: rotateY(90deg) ;
	
}
.glass{
	@extend .object;
	height: 400px;
	width: 1200px;
	transform: rotateY(180deg); 
	background: url(img/glass.png);
	background-size: cover;
}

$floorSize: 100;
.floor{
	width: 10000px;
	height: 10000px;
	top: 500px;
	position: absolute;
	background-color: green;
	//background-image: url(https://i.pinimg.com/originals/85/c0/50/85c050d708a7052f4ff3f4bbbfcf56a0.jpg);
	transform: rotateX(90deg) scale3d($floorSize,$floorSize,1);
}

//linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)) 


.testWeapon{
	position: fixed;
	bottom: 0;
	right: 200px;
	height: 2*128px;
	width: 2*320px;
	z-index: 5;
	
}
///////

	