.text-block {
  display: flex;

  .char {
    $default-size: 50px;

    width: $default-size;
    height: $default-size;

    background-image: url(img/hud/font.png);
    // background-color: white;

    filter: brightness(0.9);

    background-size: 750px;

    margin-right: 5px;

    image-rendering: pixelated;

    &.a {
      background-position: -58px 102px;
    }
    &.b {
      background-position: -108px 102px;
    }
    &.c {
      background-position: -159px 102px;
    }
    &.e {
      background-position: -262px 102px;
    }
    &.g {
      background-position: -365px 102px;
    }
    &.h {
      background-position: -415px 102px;
    }
    &.i {
      background-position: -464px 102px;

      width: $default-size - 25;
    }
    &.k {
      background-position: -541px 102px;
    }
    &.l {
      background-position: -591px 102px;
    }
    &.m {
      background-position: -644px 102px;

      width: $default-size + 5;
    }
    &.n {
      background-position: -52px 51px;
    }
    &.o {
      background-position: -103px 51px;
    }
    &.p {
      background-position: -153px 51px;
    }
    &.q {
      background-position: -205px 51px;
    }
    &.r {
      background-position: -255px 51px;
    }
    &.s {
      background-position: -305px 51px;
    }
    &.t {
      background-position: -353px 51px;
      width: $default-size - 6;
    }
    &.v {
      background-position: -449px 51px;
      width: $default-size - 5;
    }
    &.u {
      background-position: -398px 51px;
    }
    &.w {
      background-position: -495px 51px;

      width: $default-size + 5;
    }
    &.y {
      background-position: -603px 51px;
    }

    &.one {
      background-position: -160px 2306px;
      width: $default-size - 18;
    }
    &.two {
      background-position: -194px 2301px;
      width: $default-size + 4;
      height: $default-size - 5;
      margin-top: 5px;
    }
    &.three {
      background-position: -252px 2306px;
      width: $default-size + 3;
    }
    &.four {
      background-position: -308px 2306px;
      width: $default-size + 3;
    }
    &.five {
      background-position: -364px 2306px;
      width: $default-size + 5;
    }
    &.six {
      background-position: -422px 2306px;
      width: $default-size + 4;
    }
    &.seven {
      background-position: -479px 2306px;
      width: $default-size + 4;
    }
    &.eight {
      background-position: -535px 2306px;
      width: $default-size + 4;
    }
    &.nine {
      background-position: -593px 2306px;
      width: $default-size + 4;
    }
    &.zero {
      background-position: -104px 2306px;
      width: $default-size + 4;
    }

    &.space {
      background-image: none;

      width: $default-size - 30;
    }
    &.dot {
      background-position: -576px 1534px;
      width: $default-size - 30;
    }
  }
}
