.weapon-container {
  .shotgun {
    right: 200px;
    height: 180px;
    width: 162px;

    background: url(img/weapons/shotgun.png);
    background-repeat: no-repeat;

    bottom: 170px;
    transform: scale(4);

    &.shooting {
      @mixin default {
        background-position-x: 0;
      }

      @mixin shot-1 {
        background-position-x: -327px;
      }

      @mixin shot-2 {
        background-position-x: -164px;
      }

      @mixin shot-3 {
        @include default;
        bottom: 100px;
      }

      @mixin reload-1 {
        background-position-x: -497px;
      }

      @mixin reload-2 {
        background-position-x: -657px;
      }

      @mixin reload-3 {
        background-position-x: -817px;
      }

      @mixin reload-4 {
        background-position-x: -977px;
      }

      @include default;

      animation: shot 2s steps(1) infinite;
      @keyframes shot {
        0% {
          @include shot-1;
        }
        5% {
          @include shot-2;
        }
        10% {
          @include shot-1;
        }
        15% {
          @include shot-3;
        }
        15% {
          @include default;
        }
        25% {
          @include reload-1();
        }
        35% {
          @include reload-2();
        }
        50% {
          @include reload-3();
        }
        70% {
          @include reload-4();
        }
        80% {
          @include reload-3();
        }
        90% {
          @include reload-2();
        }
        95% {
          @include reload-1();
        }
        100% {
          @include shot-3;
        }
      }
    }
  }
}
