.weapon-container {
  position: absolute;
  width: 100%;
  height: 100%;

  &.nightmode {
    filter: brightness(0.3);

    &.shot-light {
      animation: shot-light 0.5s;

      @keyframes shot-light {
        0% {
          filter: brightness(0.3);
        }
        50% {
          filter: brightness(1);
        }
        100% {
          filter: brightness(0.3);
        }
      }
    }
  }

  .weapon {
    position: absolute;
    background-position-x: left;
    background-position-y: center;
    background-size: initial;
  }

  .changing-weapon {
    position: absolute;
    width: 100%;
    height: 100%;

    &.active {
      animation: change-weapon;

      @keyframes change-weapon {
        0% {
          top: 0;
        }
        50% {
          top: 300px;
        }
        100% {
          top: 0;
        }
      }
    }
  }
}

.weapon-bouncer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  animation: bounce 1.4s infinite;
  animation-play-state: paused;

  @keyframes bounce {
    0% {
      left: 0;
      top: 0;
    }
    25% {
      left: -30px;
      top: 40px;
    }
    50% {
      left: 0px;
      top: 0px;
    }
    75% {
      left: 15px;
      top: 40px;
    }

    100% {
      left: 0;
      top: 0;
    }
  }

  &.bouncing {
    animation-play-state: running;
  }
}

@import "weapon_styles/index";
