.weapon-container {
  position: absolute;
  width: 100%;
  height: 100%;

  .weapon {
    position: absolute;
    background-position-x: left;
    background-position-y: center;
    background-size: initial;
  }

  .shotgun-old {
    position: absolute;
    bottom: 0;
    right: 200px;
    height: 256px;
    width: 640px;

    background-size: cover;
    background-image: url(img/weapon.png);
  }
}

@import "shotgun";
