.wall {
  transform-style: preserve-3d;
  // width: 100px;
  // height: 100px;

  .face {
    position: absolute;
    width: 100px;
    height: 100px;

    background: url(img/floor.png);
    background-size: 25px 44px;
  }

  .front {
    transform: rotateY(0deg) translateZ(50px);
  }
  .right {
    transform: rotateY(90deg) translateZ(50px);
  }
  .back {
    transform: rotateY(180deg) translateZ(50px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(50px);
  }
}
