.wall-old {
  position: absolute;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(https://i.imgur.com/w7Q8WWL.png);
  background-size: 4% 100%;

  transform-style: preserve-3d;
}
